<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
	<title>PrecogTask</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<script src="{{url_for('static', filename='originalvsretweets.js')}}"></script>
<center><a href = "{{url_for('location')}}" >Next</a></center>

</body>
</html>




