<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
	<title>PrecogTask</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
	// Create the chart
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Favourite count distribution'
    },
    
    xAxis: {
        
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Number of tweets'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [{
        name: 'Tweets',
        colorByPoint: true,
        data: [{
            name: '0-10',
            y: 56.8,
            
        }, {
            name: '10-20',
            y: 26.3,
            
        }, {
            name: '20-30',
            y: 8.38,
            
        }, {
            name: '30-40',
            y: 4.77,
            
        }, {
            name: '40-50',
            y: 2.92,
            
        }, {
            name: '>=50',
            y: 0.82,
            
        }]
    }]
});
</script>

<center><a href = "{{url_for('location')}}" >Previous</a> 
<a href = "{{url_for('popular')}}">Next</a></center>
</body>
</html>




