<html>
  <head>
  <meta charset=utf-8>
  <title>PrecogTask</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
      var locations = {{ category | tojson }};
      function drawRegionsMap() {
        // console.log( {{category}} );
        console.log(locations);
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['India', 173],
          ['United States', 21],
          ['United Kingdom', 14],
          ['United Arab Emirates', 3],
          ['Australia', 2],
          ['Kingdom of Saudi Arabia',2],
          ['Oman',1]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  <h3><center>
   Location wise tweets
   </center></h3>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
    <center><a href = "{{url_for('originalvsretweets')}}" >Previous</a>
    <a href = "{{url_for('favourite')}}" >Next</a></center>
    
  </body>
</html>